<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header__img">
        <img  src="/img/logo.jpg" alt="logo-kitchening">
        </div>
        <a class="home__header__a--bars" href=""><i class="fas fa-bars"></i></a>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <img src="/img/img-banner.jpg" alt="banner">
        </div>
        <div class="home__main__section--products">
            <article class="home__main__section--products">
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="imagen-producto-1">
                    <img src="/img/img-gratis.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="imagen-producto-1">
                    <img src="/img/img-descuento.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="imagen-producto-1">
                    <img src="/img/img-gratis.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="imagen-producto-1">
                    <img src="/img/img-descuento.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a href="">ver más</a>
            </article>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>